body {
    margin: 0;
    background: #0f0f0f;
    font-family: "Segoe UI", sans-serif;
    color: white;
}

.container {
    width: 650px;
    margin: 60px auto;
    background: #1a1a1a;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 0 30px rgba(0,0,0,0.6);
}

h1 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
}

h1 span {
    font-size: 33px;
    margin-right: 10px;
}

.file-input {
    margin-bottom: 15px;
    width: 100%;
}

textarea {
    width: 100%;
    height: 360px;
    background: #111;
    color: #0f0;
    padding: 15px;
    border: 1px solid #333;
    border-radius: 10px;
    resize: vertical;
    font-family: monospace;
    font-size: 14px;
    white-space: pre-wrap;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #00c853;
    color: white;
    border: none;
    font-size: 17px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.btn:hover {
    background: #03b14a;
}

.small-btn {
    background: #2962ff;
}

footer {
    text-align: center;
    margin-top: 18px;
    opacity: 0.6;
    font-size: 13px;
}
